section {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--main-border-color);
  margin: 15px 0px;
  width: 300px;
  color: var(--main-color);
}

.title-wrapper {
  padding: 0px 16px;
}

.poster-wrapper {
  width: 100%;
  height: 445px;
  background-color: var(--main-color);
}

.poster-wrapper > img {
  width: 100%;
  height: 100%;
}

.poster-detail {
  display: flex;
  list-style: none;
  padding: 0px;
}

.poster-detail > li {
  margin: 0px 10px;
}
